
   body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(320deg, #125A66, #093840);
    height: 100vh;
    margin: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  .navbar-brand {
    font-size: 24px;
    color: #125A66;
  }
  
  .nav-items a {
    margin: 0 15px;
    color: hsl(189, 70%, 24%);
    text-decoration: none;
  }
  
  .nav-items a:hover {
    text-decoration: underline;
  }
  
  .current-time {
    font-size: 14px;
    color: #125A66;
  }
  
  .container {
    color: white;
  }
  
  .portal-box {
    margin-top: 50px; 
  }
  
  .card-group {
    display: flex;
    justify-content: space-between; 
  }
  
  .custom-card {
    flex: 1;
    margin: 0 5px;
    max-width: 500px;
}

.card-img {
    width: 100px;
    height: 100px;
    object-fit: cover; 
    margin-bottom: 15px;
}


  
  .custom-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .custom-card-header {
    background-color: #125A66;
    color: white;
    font-weight: 600;
    border-radius: 7px 7px 0 0;
    padding: 15px;
  }
  
  .custom-card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .custom-btn {
    margin-top: 15px; 
    width: 100%; 
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    color: white;
    background-color: #125A66;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .custom-btn:hover {
    background-color: #0f4a5a;
  }
  
 
  