
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.patient-signup-container {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #2c3e50, #3498db);
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.patient-signup-form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 600px; 
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.patient-signup-form h2 {
  color: #3B5998;
  font-size: 24px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group input,
.form-group select {
  width: 45%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-group select {
  margin-right: 5%;
}

.form-group input[type="date"] {
  width: 50%;
}

.form-group button {
  background-color: #125A66;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0f4a5a;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.patient-signup-option {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.patient-signup-option a {
  color: #125A66;
  text-decoration: underline;
  font-weight: bold;
}
